.header,
.footer{
    background-color: #1f2937;

}

.hero{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.subtext{
    font-size: 18px;
    color: #e5e7eb;
}

.quote{
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}

.author{
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
}

.container,
.advert{
    background-color: #f9faf8;
}

img{
    width: 300px;
    height: 160px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}